<script>
export default {
    name: 'Menu'
};
</script>

<template>
    <ul class="menu">
        <slot></slot>
    </ul>
</template>

<style lang="sass" scoped>
@import '@/styles/colors.sass'

.menu
    margin: 0px
    background-color: $color_white

.menu.mobile.opened
    position: fixed
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    top: 0
    left: 0
    background-color: $color_blue

.menu.mobile.close
    display: none    
</style>