<script>
import { computed } from 'vue';

// utils
import { isExternal } from '@/utils/validate.js';

export default {
    name: 'AppLink',
    props: {
        to: {
            type: String,
            require: true
        },
        title: {
            type: String,
            default: ''
        }
    },
    setup(props) {
        const linkProps = (to) => {
            if (resolvePath.value) {
                return {
                    href: to,
                    target: 'router-link',
                    rel: 'nopener'
                };
            }

            return {
                to: to
            };
        };

        const resolvePath = computed(() => {
            return isExternal(props.to);
        });

        const type = computed(() => {
            if (resolvePath.value) {
                return 'a';
            }

            return 'router-link';
        });

        return {
            // methods
            linkProps,
            // computed
            resolvePath,
            type
        };
    }
};
</script>

<template>
    <component :is="type" v-bind="linkProps(to)">
        {{ title }}
    </component>
</template>

<style lang='sass' scoped>
@import '@/styles/colors.sass'

a.link
    display: block
    text-decoration: none
    color: $color_purple
    font-size: 16px
    font-weight: 700

a.nestLink
    display: block
    text-decoration: none
    color: $color_purple
    font-size: 14px
    font-weight: 700
    padding: 0px 5px

@media screen and (max-width: 992px)
    a.link
        font-size: 24px
        color: $color_white

    a.nestLink
        font-size: 22px
</style>