
<script>
export default {
    name: 'item',
    props: {
        title: {
            type: String,
            default: ''
        }
    }
};
</script>

<template>
    <div class='item' v-text="title"></div>
</template>

<style lang='sass' scoped>
@import '@/styles/colors.sass'

.item
    text-decoration: none
    color: $color_purple
    font-size: 16px
    font-weight: 700

@media screen and (max-width: 992px)
    .item
        font-size: 24px
        color: $color_white
</style>