<script>
export default {
    name: 'Logo'  
};
</script>

<template>
    <div class='logo'>
        <router-link class='link' to='/'>vue3 base framework</router-link>
    </div>
</template>

<style lang='sass' scoped>
@import '@/styles/colors.sass'

.logo
    a.link
        display: block
        padding: 10px
        text-decoration: none
        font-size: 20px
        font-weight: 700
        color: $color_blue
</style>