<script>
// vue
import { ref } from 'vue';

// utils
import { isExternal } from '@/utils/validate.js';

// components
import MenuItem from '@/components/Menu/MenuItem.vue';
import SubItem from '@/components/Menu/SubMenu.vue';
import Item from './Item.vue';
import AppLink from './AppLink.vue';

export default {
    name: 'NavbarItem',
    components: {
        MenuItem,
        SubItem,
        Item,
        AppLink
    },
    props: {
        item: {
            type: Object,
            require: true
        },
        basePath: {
            type: String,
            default: ''
        },
        isNest: {
            type: Boolean,
            default: false
        }
    },
    setup(props) {
        const onlyOneChild = ref(null);

        const hasOneShowingChild = (children = [], parent) => {
            const showingChildren = children.filter(item => {
                if (item.hidden) {
                    return false;
                }
                else {
                    onlyOneChild.value = item;
                    return true;
                }
            });

            if (showingChildren.length === 1) {
                return true;
            }

            if (showingChildren.length === 0) {
                onlyOneChild.value = { ...parent, path: '', noShowingChildren: true };
                return true;
            }
            
            return false;
        };

        const resolvePath = (routePath) => {
            if (isExternal(routePath)) {
                return routePath;
            }

            if (isExternal(props.basePath)) {
                return props.basePath;
            }
            
            if (routePath.indexOf('/') !== -1) {
                return props.basePath + routePath;
            }
            else {
                return props.basePath + '/' + routePath;
            }
        };

        return {
            // data
            onlyOneChild,
            // methods
            hasOneShowingChild,
            resolvePath
        };
    }
};
</script>

<template>
    <div v-if="!item.hidden">
        <template v-if="hasOneShowingChild(item.children, item) && (!onlyOneChild.children || onlyOneChild.noShowingChildren) && !item.alwaysShow">
            <MenuItem v-if="onlyOneChild.meta">
                <AppLink :class="isNest ? 'nestLink': 'link'" :to="resolvePath(onlyOneChild.path)" :title="onlyOneChild.meta.title">
                </AppLink>
            </MenuItem>
        </template>
        
        <SubItem v-else>
            <template #title>
                <Item v-if="item.meta" :title="item.meta.title"></Item>
             </template>

            <NavbarItem
                class='nest'
                v-for="child in item.children"
                :key="child.path"
                :basePath="resolvePath(child.path)"
                :item="child"
                :isNest="true"
            >
            </NavbarItem>
        </SubItem>
    </div>
</template>

<style lang="sass" scoped>
@import '@/styles/colors.sass'

div
    display: inline-block
    margin:
        left: 5px
        right: 5px

.nest
    display: block
</style>