<script>
export default {
    name: 'errorPage404'
};
</script>

<template>
    <div class='errorPage404'>
        <h1>This is error page 404 view</h1>
    </div>
</template>

<style lang='sass' scoped>
@import '@/styles/colors.sass'

.errorPage404
    width: 100%
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    box-sizing: border-box
    border-top: 20px solid $color_blue
    border-bottom: 20px solid $color_blue

    h1
        color: $color_blue
        font-size: 50px
</style>