<script>
import { computed } from 'vue';
import { useRoute } from 'vue-router';

export default {
    name: 'AppMain',
    setup() {
        const route = useRoute();

        const key = computed(() => {
            return route.path;
        });

        return {
            key
        };
    }
};
</script>

<template>
    <section class='appMain'>
        <transition name='fade-transform' mode='out-in'>
            <router-view :key="key"></router-view>
        </transition>
    </section>
</template>

<style lang='sass' scoped>
.appMain
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
</style>
