<script>
// vue
import { computed } from 'vue';
import { useStore } from 'vuex';

// components
import Loading from '@/components/Loading/index.vue';

export default {
    name: 'App',
    components: {
        Loading
    },
    setup() {
        // vue
        const store = useStore();
        
        // computed
        const storeGetters = computed(() => {
            return {
                isLoading: store.getters.isLoading
            };
        });

        return {
            // computed
            storeGetters
        };
    }
};
</script>

<template>
    <div class='App'>
        <router-view></router-view>
        <Loading v-if="storeGetters.isLoading"></Loading>
    </div>
</template>
